
*.mov
*.mp4
*.avi
*.mkv

*.pt
*.onnx
best_openvino_model/

venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

tracking_data/
ket_qua_dem.txt
runs/
*.log

.vscode/
.idea/
Thumbs.db
.DS_Store
node_modules
