# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

*.mov
*.mp4
*.avi
*.mkv

*.pt
*.onnx
best_openvino_model/

venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

tracking_data/
result.txt
runs/
*.log

.vscode/
.idea/
Thumbs.db
.DS_Store
node_modules

backend/
Lib/
